<div class="container">

  <h1>YOUR PROFILE IS HERE!</h1>

  <div>
    <p><%= t('email')%></p>
    <p><%= @user.email %></p>
  </div>
  <%= link_to t('Area_Cliente'), client_area_index_path %>

</div>