<!DOCTYPE html>
<html lang="en" xmlns:position="http://www.w3.org/1999/xhtml">
<head>
  <title>Área Cliente</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">Menu</li>
        <li><%= link_to t('Perfil'), profile_index_path %></li>
        <li><%= link_to t('Nova Encomenda'), client_area_new_order_path %></li>
        <li><a href="#">Encomendas</a></li>
        <li><a href="#">Contacte-nos</a></li>
      </ul>
    </div>
    <br>
    <div class="col-sm-13">
      <li>Preço:</li>
      <tr><input type="text" name="nome" size="10"> <br /></tr>
    </div>
    <div class="fileinputs">
      <li>Escolher ficheiro:</li>
      <input type="file" class="file">
    </div>
    <div>
      <li>Data de Entrega:</li>
      <li><input type="datetime">dd/mm/aaaa</li>
    </div>
    <div>
      <li>OBS:</li>
      <textarea name="obs" cols=50 rows=10>isto é uma area de texto</textarea>
    </div>
    <div>
      <input type="button" name="criarencomenda" value="Criar Encomenda">
    </div>
  </div>

</body>
</html>