<div class="container">
  <body>
  <div>
    <CENTER> <img src=<%=asset_path 'home_image.jpg'%> height="200" weight="400"> </CENTER>
  </div>
  <h1 align="middle">Bem-vindo à Joia da Europa</h1>
  <h2><font size="3">A Joia da Europa é uma empresa que se dedica inteiramente à fabricação de calçado de qualilidade e conforto. Se procura qualidade, inovação, transformação, diferenciação de produtos, venha conhecer a nossa empresa, porque aqui encontra tudo o que precisa.</font></h2>
  </body>

  <%= link_to t('My account'), client_area_index_path if User.find_by_is_client(1) %>

</div>
