<!-- Header -->
</br>
</br>
</br>
</br>
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <center><%= image_tag("image1.jpeg", :alt => "image1.jpeg feed", :height => 320, :width => 750 ) %></center>

    <div class="w3-display-middle w3-margin-top w3-center">
        <!--h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Joia</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1!-->
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:2000px">

    <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Missão</h3>
    <p>
      Uma empresa não se define pelo nome que tem, define-se pelo esforço e trabalho despendido por todos aqueles que fazem parte dela, os recursos humanos, fornecedores, clientes e todos os outros colaboradores são necessários para o sucesso de qualquer empresa, e Jóia da Europa conta com a ajuda de todos.


      A nossa missão centraliza-se em:

      Atender às necessidades de todos os nossos clientes, aperfeiçoando sempre os nossos produtos e serviços.

      Fornecer produtos de tal qualidade que os nossos clientes se sintam satisfeitos, e os nossos empregados e parceiros de negócios se beneficiem com nosso êxito.

      Oferecer soluções para qualquer ideia, contando com a nossa assistência.

      Apostar sempre em tecnologias inovadoras.
    </p>
  </div>



    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Quem Somos</h3>
        <p>Em 2006, ano de novas oportunidades e desafios, António Bento Da Costa Ferreira inicia-se por conta própria, criando a empresa Jóia Da Europa, que se dedica inteiramente à fabricação de calçado.

          Jóia da Europa, é mais um dos casos de sucesso nacional e internacional, isto porque a inovação e a qualidade dos seus produtos é difícil de encontrar. Lentamente, ano após ano, esta empresa tem crescido, e não põe de parte qualquer desafio vindo à sua direcção. Para esta empresa tudo é possível.

          Ao longo destes anos, Jóia da Europa tem feito apostas ao nível de novas tecnologias, tanto em máquinas, como em programas informáticos, o que faz com que exista uma margem bastante reduzida de erro, e permite à empresa dar resposta a todas as propostas que lhe sejam submetidas, nos prazos subordinados.

          A qualidade dos nossos serviços advém também do valor que têm as matérias – primas seleccionadas para a nossa fabricação. Em todas as épocas, os nossos clientes podem contar com uma colecção completa e diferente.

          Se procura qualidade, inovação, transformação, diferenciação de produtos, venha conhecer a nossa empresa, porque aqui encontra tudo o que precisa.
        </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="/w3images/team2.jpg" alt="" style="width:100%">
            <h3>António Bento da Costa Ferreira</h3>
            <p class="w3-opacity">Gerente e Fundador</p>
            <p></p>
            <p>
                <button class="w3-button w3-light-grey w3-block" >Contact</button>
            </p>
        </div>


        <!-- News Section -->
        <div class="w3-container w3-padding-32" id="news">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Notícias</h3>

        </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contacto</h3>
        <p>Vamos manter o contacto!</p>
        <form action="/action_page.php" target="_blank">
            <input class="w3-input" type="text" placeholder="Nome" required name="Nome">
            <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
            <input class="w3-input w3-section" type="text" placeholder="Assunto" required name="Assunto">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> Enviar Mensagem
            </button>
        </form>
    </div>

    <!-- End page content -->
</div>

<!-- Google Map -->
<div id="googleMap" class="w3-grayscale" style="width:100%;height:450px;"></div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>Joia da Europa</p>
</footer>

<!-- Add Google Maps -->
<script>
    function myMap() {
        myCenter = new google.maps.LatLng(41.334670, -8.265741);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy4Naoct8r1dLvEp9t1Ar6lVnv9Vcml18&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->
</div>

<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Voltar ao Topo
    </a>
</span>

<script>
    // Only enable if the document has a long scroll bar
    // Note the window height + offset
    if ( ($(window).height() + 100) < $(document).height() ) {
        $('#top-link-block').removeClass('hidden').affix({
            // how far to scroll down before link "slides" into view
            offset: {top:100}
        });
    }
</script>

<style>
  #top-link-block.affix-top {
    position: fixed; /* allows it to "slide" up into view */
    bottom: -50px;
    right: 10px;
  }
  #top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 25px;
    right: 10px;
  }
</style>