<!DOCTYPE html>
<html lang="en">






    <section class="blox dark section-bg6">
        <div class="container">
            <hr class="vertical-space3">
            <div class="eleven columns">
                <h2>QUEM SOMOS</h2>
            </div>
        </div>
    </section>



    <hr class="vertical-space1">




    <section class="container" >



        <article class="ten columns">        <hr class="vertical-space1">

            <p><div style="text-align: justify;">Em 2006, ano de novas oportunidades e desafios, Ant&oacute;nio Bento Da Costa Ferreira inicia-se por conta pr&oacute;pria, criando a empresa <strong>J&oacute;ia Da Europa</strong>, que se dedica inteiramente &agrave; fabrica&ccedil;&atilde;o de cal&ccedil;ado.<br /><br /></div>
            <div style="text-align: justify;">J&oacute;ia da Europa, &eacute; mais um dos casos de sucesso nacional e internacional, isto porque a inova&ccedil;&atilde;o e a qualidade dos seus produtos &eacute; dif&iacute;cil de encontrar. Lentamente, ano ap&oacute;s ano, esta empresa tem crescido, e n&atilde;o p&otilde;e de parte qualquer desafio vindo &agrave; sua direc&ccedil;&atilde;o. <strong>Para esta empresa tudo &eacute; poss&iacute;vel.</strong><br /><br /></div>
            <div style="text-align: justify;">Ao longo destes anos, J&oacute;ia da Europa tem feito apostas ao n&iacute;vel de novas tecnologias, tanto em m&aacute;quinas, como em programas inform&aacute;ticos, o que faz com que exista uma margem bastante reduzida de erro, e permite &agrave; empresa dar resposta a todas as propostas que lhe sejam submetidas, nos prazos subordinados.<br /><br /></div>
            <div style="text-align: justify;">A qualidade dos nossos servi&ccedil;os adv&eacute;m tamb&eacute;m do valor que t&ecirc;m as mat&eacute;rias &ndash; primas seleccionadas para a nossa fabrica&ccedil;&atilde;o. Em todas as &eacute;pocas, os nossos clientes podem contar com uma colec&ccedil;&atilde;o completa e diferente.<br /><br /><br /></div>
            <div style="text-align: justify;"><strong>Se procura qualidade, inova&ccedil;&atilde;o, transforma&ccedil;&atilde;o, diferencia&ccedil;&atilde;o de produtos, venha conhecer a nossa empresa, porque aqui encontra tudo o que precisa.</strong></div></p>


        </article>




        <!-- end Who We Are -->
        <div class="five columns omega offset-by-one"><hr class="vertical-space2">
            <img src="paginas/img_21.png" alt="" border="0" width="320">
        </div>


        <!-- end Our Skills -->




        <hr class="vertical-space2">




    </section><!-- end- -->




    <!-- INICIO DO RODAPE -->




    <!-- SETA SCROLL UP --> <span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span>
</div>
<footer id="footer">



    <!-- <section class="container footer-in">
    <div class="one-third column ">
    <h4 class="subtitle">CONTACTOS</h4>
    <div class="footer-texto"><img src="layout/icons/icon-phone.png" width="17" height="12" align="absmiddle"> &nbsp; T.: (00351) 000 000 000<br>
    <img src="layout/icons/icon-email.png" width="15" height="11" align="absmiddle"> &nbsp; geral@joiadaeuropa.com </div><br>
    </div>


    <div class="two-thirds column">
    <h4 class="subtitle">TÍTULO DO RODAPÉ</h4>
    <div class="footer-texto">Texto do rodap&eacute; neste espa&ccedil;o. ILorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s.</div>

    </div>


    </section> -->




    <section class="footbot">
        <div class="container">



            <!-- LINKS REDES SOCIAIS-->
            <div class="socailfollow">
                <a target="_blank" href="http://www.facebook.com" class="facebook"><i class="icomoon-facebook"></i></a></div>

        </div>
    </section>  </footer>


<!-- end-wrap -->


<!-- End Document
================================================== -->
<script type="text/javascript" src="js/jcarousel.js" ></script>
<script type="text/javascript" src="js/mexin-custom.js" ></script>
<script type="text/javascript" src="js/doubletaptogo.js" ></script>
<script src="layerslider/jQuery/jquery-easing-1.3.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="js/layerslider-init.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-tab.js"></script>
</body>
</html>